{% extends "base.html" %}
{% block content %}
{% load static %}
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Patient Data App</h1>
                    <!--<p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!</p>-->
                </div>
                <div class="col-6 col-sm align-self-center">
                    <img src="{% static 'images/doctorvector.jpg' %}" class="img-fluid" height="60" width="200">
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">About Us</li>

            </ol>
            <div class="col-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-12 col-sm-4 col-md-6">
                <h2>About Project</h2>
                <p>
                    A Responsive-Web Application has been designed for the patients to enter their details(like the diseases they are having and other relevant details asked),they can update their details and delete their details.Doctors 
                    can view the details of the patients.
                </p>
                <p>This web application is responsive as it can be viewed and used through both mobile phones and laptops.Different frameworks such as django,Bootstrap4 has been used.Tables have been used to display the details of the Patients.</p>
            </div>
            <div class="col-sm">
                <div class="card">
                    <h3 class="card-header bg-primary text-white">Facts At A Glance</h3>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-6">Front-End</dt>
                            <dd class="col-6">Html,CSS,Javascript,Bootstrap</dd>
                            <dt class="col-6">Backend</dt>
                            <dd class="col-6">Django Framework</dd>
                            <dt class="col-6">Database</dt>
                            <dd class="col-6">Sqlite3</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    

                <div class="row">
                    <h2 class="ml-4">Developer Intro</h2><br>
                </div>
                <div class="row">  
                    <div class="card col-12 col-md-6">
                        <div class="card-header col-12" role="tab" id="dannyhead">
                            <h3 class="mb-0"><a data-toggle="collapse" data-target="#skg">Sonu Kumar Gautam <small>Developer</small></a></h3>
                        </div>
                        <div class="collapse" id="skg" data-parent="#accordian" role="tabpanel">
                            <div class="card-body">
                                <img src="{% static 'images/sonu.jpg' %}" width="100%" alt="sonu">
                                <p class="d-block">This is Sonu Kumar Gautam . I am currently Pursuing Master of computer Application From R V College Of Engineering.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                  
                    

    </div>
   {% endblock content %}
