{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    
    <body class="body">
        <h1 class="patient-header">Patient Information</h1>
    </body>
    {% endblock content %}
</html>

