{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    
    <body class="body">
        <div class="header-container">
            <img src="{% static 'images/doctorvector.jpg' %}"
                        class="head-image"
                        alt="HeaderImage"
                    />
            <h1 style="margin-top:20px;">Patient Information</h1>
        </div>
        <div class="col-12 col-md-5 offset-md-3 offset-ml-1">
        {% include 'messages.html' %}
        </div>
        <div class="container">
            <div class="row row-content">
                <div class="col-12 col-md-12">
                    <h2 class="alert alert-danger text-center p-3">Add Patient Information</h2>
                </div>
                <div class="col-12 col-md-10">  
                    <form action="/" method="post">
                            {% csrf_token %}
                        {% for fm in form %}
                          <div class="form-group row">
                              <div class="col-md-2">
                                {{fm.label_tag}}
                              </div>
                              <div class="col-md-10">
                                    {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                              </div>
                            </div>
                        {% endfor %}
                        
                        <div class="form-group-row">
                            <div class="offset-md-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-12 col-md-12">
                    <h2 class="alert alert-danger text-center p-3">View Patient Information</h2>
                </div>
                <div class="col-12 col-md-10">
                    {% if pat %}
                    
                    {% else %}
                    <div class="col-12 col-md-5 offset-md-4">
                        <h2 class="alert alert-dark text-center p-3">No Record Found</h2>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock content %}

