.body {
    background: #0f1228;
    overflow-x: hidden;
    color: #e7e9f0;
    font-family: 'Lato', sans-serif;
}


.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.head-image {
    width: 250px;
}

#id_gender >li{
    display: inline-block;
    padding-right: 20px;
}

